node_modules/
.env
server/node_modules/
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock
.DS_Store
mobile/build_output.log
dist/
